<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{{ page.title }}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/master.css" rel="stylesheet" media="all">
    <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
</head>
<body>

<div class="wrap">
    <header class="site-header" role="banner">

        <h1 class="logo">
            <a href="/">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/logo.png, /img/logo.png 2x">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/logo.png, /img/logo.png 2x" alt="Cocur">
                </picture>
            </a>
        </h1>

    </header>

    <main class="main" role="main">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </main>
</div>

<div class="site-footer-wrap">
    <footer class="site-footer" role="contentinfo">
        <small><span class="hearts">&hearts;</span> <time datetime="2014">2014</time> <a href="https://florian.ec">Florian Eckerstorfer</a>. Designed and developed in Vienna, Europe.</small>
    </footer>
</div>

{% include '_foot.html.twig' %}

</body>
</html>
