<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{{ page.title }}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/master.css" rel="stylesheet" media="all">
</head>
<body>

<div class="wrap">
    <header class="site-header" role="banner">

        <h1 class="logo">
            <a href="/"><img src="/img/logo.svg" alt="Cocur"></a>
        </h1>

    </header>

    <main class="main" role="main">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </main>
</div>

<div class="site-footer-wrap">
    <footer class="site-footer" role="contentinfo">
        <small><span class="hearts">&hearts;</span> <time datetime="2015">2015</time> <a href="https://florian.ec">Florian Eckerstorfer</a>. Designed and developed in Vienna, Europe.</small>
    </footer>
</div>

{% include '_foot.html.twig' %}

</body>
</html>
