@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/bourbon/dist/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "fonts";

$primary-fg-color: #4a4a4a;
$secondary-fg-color: #7ed321;
$primary-bg-color: #f6f6f6;

$serif-font: 'Anonymous Pro', 'Courier New', Courier, monospace;
$sans-serif-font: 'Anonymous Pro';

body {
    background: $primary-bg-color;
    color: $primary-fg-color;
    font: 1em $serif-font;
} // body

p {
    line-height: 150%;
} // p

a {
    &:link,
    &:active,
    &:visited {
        color: $primary-fg-color;
    } // :link, :active, :visited

    &:hover {
        color: lighten($primary-fg-color, 30%);
        text-decoration: none;
    } // :hover
} // a

.site-footer,
.wrap {
    @include outer-container;

    @include media(max-width 940px) {
        margin: 0 1em;
    }
} // .site-header, .site-footer, .wrap

.site-header {
    @include span-columns(3);

    .logo {
        margin: 2em 0;
        text-align: center;
        font-size: 1em;
    } // .logo
} // .site-header

.main {
    @include span-columns(9);

    padding: 2em 0;

    p:first-child {
        margin-top: 0;
    }
}

.project {
    margin-bottom: 1em;
    padding: .5em .5em .5em 0;
    border-right: 5px solid transparent;

    &:hover {
        border-right-color: $secondary-fg-color;
    }

    header {
        h2 {
            margin: 0;
            font-size: 1em;
        } // h2

        .badge.stable {
            display: inline-block;
            padding: .2em .4em;
            background: $secondary-fg-color;
            color: #fff;
            font-size: .8em;
            font-weight: normal;
        }

        a {
            &:link,
            &:active,
            &:visited {
                text-decoration: none;
            } // :link, :active, :visited
        } // a
    } // header

    p {
        margin: .2em 0;
        &:last-child {
            margin-bottom: 0;
        } // :last-child
    } // p

    .links {
        margin: .2em 0;
        padding-left: 0;
        list-style: none;

        li {
            display: inline-block;
        } // li
    } // .links
} // .project

.site-footer-wrap {
    margin: 1em 0;
} // .site-footer-wrap

.site-footer {
    .logo {
        margin-bottom: 1em;
        text-align: center;
    } // .logo

    .hearts {
        color: red;
    } // .hearts
} // .site-footer

.badges-list {
    list-style: none;
    padding-left: 0;
}

