---
layout: default
title: Cocur
permalink: /
use: [projects]
---

<p>Cocur is a collection of carefully crafted open source libraries by <a href="https://florian.ec">Florian Eckerstorfer</a>.</p>

{% for project in data.projects %}
    <section class="project">
        <header>
            <h2>{{ project.title }}</h2>
        </header>
        <p>
            {{ project.description }}
            {% if project.github %}
                <a href="https://github.com/{{ project.github }}">Github</a>
            {% endif %}
            {% if project.api_docs %}
                <a href="{{ project.api_docs }}">API docs</a>
            {% endif %}
        </p>
    </section>
{% endfor %}

